/* variables */
$primary-color: #be0026;
$secondary-color: #3983c7;
$text-color: #777;

/* mixins */
@mixin h1-font {
    font-size: 30px;
}
@mixin h2-font {
    font-size: 25px;
}
@mixin h3-font {
    font-size: 20px;
}

@mixin section-space {
    margin-top: 100px;
}

@mixin p {
    font-size: 16px;
    line-height: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

/* Dosis fonts */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap");

body {
    * {
        color: $text-color;
        font-weight: 400;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-family: "Dosis", sans-serif;

        a {
            text-decoration: none;
        }
        ul {
            list-style: none;
        }
    }
}

.banner {
    /*  img{
        width: 100%;
    } */
    padding: 100px;
    padding-top: 150px;
    background-color: #111;
    width: 100%;
    .about-heading {
        h1 {
            @include h1-font;
            letter-spacing: 5px;
            word-spacing: 5px;
            text-transform: uppercase;
            color: #fff;
        }
        p {
            @include p;
            text-transform: uppercase;
            color: #fff;
            margin-top: 30px;
        }
    }
}

.know-us {
    @include section-space;
    .know-us-content {
        h2 {
            @include h2-font;
            letter-spacing: 5px;
            word-spacing: 5px;
            margin-bottom: 30px;
        }
        p {
            @include p;
            text-align: justify;
            font-style: italic;
        }
    }
    .about-progress-bar {
        .progress-container {
            .progress-wrapper {
                background-color: #eee;
                height: 3px;
                border-radius: 3px;
                position: relative;
                margin-bottom: 50px;
                .progress-percentage {
                    background-color: #13171b;
                    height: 3px;
                    border-radius: 3px;
                    span {
                        color: #13171b;
                        position: absolute;
                        top: 5px;
                        right: 10px;
                        font-style: italic;
                        font-size: 14px;
                    }
                }
                .progress-wrapper1 {
                    width: 95%;
                }
                .progress-wrapper2 {
                    width: 85%;
                }
                .progress-wrapper3 {
                    width: 88%;
                }
                .progress-wrapper4 {
                    width: 93%;
                }
                .progress-wrapper5 {
                    width: 85%;
                }
                .progress-wrapper6 {
                    width: 90%;
                }
                p {
                    font-style: italic;
                    text-transform: uppercase;
                    font-size: 14px;
                    margin-top: 5px;
                    color: #13171b;
                    letter-spacing: 2px;
                }
            }
        }
    }
    p {
        @include p;
        text-align: justify;
        font-style: italic;
    }
    .list{
        font-weight: bold;
    }
    ol{
        padding-left: 25px;
        li{
            font-weight: bold;
            margin-bottom: 8px;
        }
    }
   

}

.logs {
    @include section-space;
    background-color: #eee;
    padding: 50px 0px;
    /* font-family: "Cinzel", serif; */
    .year-of-experience,
    .countries,
    .universities,
    .students {
        text-align: center;
        .number {
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 0px;
        }
        p {
            font-size: 16px;
            text-transform: uppercase;
        }
        .plus-icon {
            font-size: 30px;
        }
    }
}

.clients {
    margin-top: 100px;
    .client-logo {
        img {
            width: 100%;
        }
    }
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        display: none;
    }
}

.mission-vision {
    @include section-space;
    h3 {
        @include h2-font;
        text-align: center;
        margin-bottom: 50px;
        letter-spacing: 5px;
        word-spacing: 5px;
    }
    .our-story{
        cursor: pointer;
        padding: 3px 20px;
        font-style: italic;
        font-size: 14px;
        border-radius: 20px;
        border: 2px solid transparent;
        transition: all 0.3s ease;
        letter-spacing: 2px;
        &:hover {
            transition: all 0.3s ease;
            border: 2px solid #eee;
        }
        .active {
            border: 2px solid #000;           
        }
    }
    

    .our-story-content-wrapper {
        min-height: 100px;
        position: relative;
        .our-story-content {
            transition: all .3s ease;
            position: absolute;
            width: 100%;
            visibility: hidden;
            opacity: 0;
            p{
                @include p;
                text-align: center;

            }
        }
        .mission-content{
            visibility: visible;
            opacity: 1;
        }
    }
    
}


.lets-talk {
    @include section-space;
    text-align: center;
    padding: 80px 0px;
    background-color: #111;
    p {
        text-transform: uppercase;
        word-spacing: 4px;
        letter-spacing: 5px;
        color: #fff;
        text-align: center;
        margin-bottom: 30px;
    }
    a {
        text-transform: uppercase;
        border-radius: 3px;
        font-style: italic;
        background-color: #eee;
        color: #000;
        border: 1px solid transparent;
        padding: 10px 30px;
        word-spacing: 2px;
        letter-spacing: 3px;
        font-size: 14px;
        transition: all 0.3s ease;
        &:hover {
            transition: all 0.3s ease;
            background-color: #fff;
        }
    }
}


@media only screen and(max-width : 567px) {
    .banner{
        padding-left: 50px;
    }
}
