/* variables */
$primary-color: #be0026;
$secondary-color: #3983c7;
$text-color: #777;

/* mixins */
@mixin h1-font {
    font-size: 30px;
}
@mixin h2-font {
    font-size: 25px;
}
@mixin h3-font {
    font-size: 20px;
}

@mixin section-space {
    margin-top: 100px;
}

@mixin p {
    font-size: 16px;
    line-height: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

/* Dosis fonts */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap");

.banner {
    padding: 100px;
    padding-top: 150px;
    background-color: #111;
    width: 100%;
    .about-heading {
        h1 {
            @include h1-font;
            letter-spacing: 5px;
            word-spacing: 5px;
            text-transform: uppercase;
            color: #fff;
        }
        p {
            @include p;
            text-transform: uppercase;
            color: #fff;
            margin-top: 30px;
        }
    }
}

.clients {
    padding: 100px 0px;
    h2 {
        text-align: center;
        margin-bottom: 50px;
        text-transform: uppercase;
        @include h1-font;
    }    
    .clients-logo {        
        .img-wrapper{
            z-index: 9;
            img {
                width: 100%;
            }
        }       
    }
}

@media only screen and(max-width : 567px) {
    .banner{
        padding-left: 50px;
    }
}