/* variables */
/* mixins */
/* Dosis fonts */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap");
body * {
  color: #777;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Dosis", sans-serif;
}
body * a {
  text-decoration: none;
}
body * ul {
  list-style: none;
}

.contact-icon {
  position: fixed;
  bottom: 25px;
  right: 20px;
}
.contact-icon .fa-xmark {
  display: none;
  padding: 15px 19px;
  color: #fff;
  background-color: #111;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
}
.contact-icon .fa-comment-sms {
  padding: 15px;
  color: #fff;
  background-color: #111;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
}
.contact-icon .contact-popup {
  display: none;
  width: 320px;
  position: fixed;
  right: 10px;
  bottom: 10%;
  background-color: #eee;
}
.contact-icon .contact-popup p {
  background-color: #111;
  padding: 20px;
  padding-bottom: 40px;
  color: #fff;
  text-align: center;
}
.contact-icon .contact-popup form {
  margin: 20px;
  border-left: 5px solid #000;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: -20px;
}
.contact-icon .contact-popup form input {
  width: 90%;
  padding-left: 15px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #eee;
}
.contact-icon .contact-popup form label {
  text-align: left;
  margin-bottom: 5px;
  display: block;
  padding-left: 15px;
  color: red;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
}
.contact-icon .contact-popup form textarea {
  width: 90%;
  height: 65px;
  resize: none;
  border: 2px solid #eee;
  padding-left: 15px;
}
.contact-icon .contact-popup form button {
  width: 90%;
  padding: 5px 0px;
  background-color: #111;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 8px;
}

.fixed-social-icons {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.fixed-social-icons .fa-share-nodes {
  padding: 15px;
  color: #fff;
  background-color: #111;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
}
.fixed-social-icons .tootle-icons i {
  position: absolute;
  bottom: 80px;
  left: 0px;
  padding: 15px;
  color: #fff;
  background-color: #111;
  border-radius: 50%;
  font-size: 25px;
  margin-top: 20px;
}
.fixed-social-icons .tootle-icons .fa-instagram-square {
  left: -100px;
  transition: all 0.3s ease;
}
.fixed-social-icons .tootle-icons .fa-facebook {
  bottom: 160px;
  left: -100px;
  transition: all 0.5s ease;
}

.navigation-bar {
  background-color: transparent;
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
.navigation-bar .logo {
  position: relative;
}
.navigation-bar .logo .fa-bars {
  display: none;
  position: absolute;
  top: 5px;
  right: 20px;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}
.navigation-bar .logo img {
  position: relative;
  z-index: 999;
  width: 100%;
}
.navigation-bar nav {
  position: relative;
}
.navigation-bar nav ul {
  /* .service:hover {
      .service-dropdown-menu {
          position: absolute;
      }
      .portfolio :hover {
          .portfolio-dropdown-menu {
              position: absolute;
          }
      }
  } */
}
.navigation-bar nav ul li {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
  cursor: pointer;
  font-size: 14px;
}
.navigation-bar nav ul li a {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-style: italic;
  position: relative;
  z-index: 999;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.3s ease;
}
.navigation-bar nav ul li a i {
  color: #fff;
}
.navigation-bar nav ul li a::after {
  transition: all 0.4s ease;
  position: absolute;
  top: 28px;
  left: 50%;
  transition: translate(-50%);
  width: 0%;
  height: 3px;
  content: "";
  background-color: red;
}
.navigation-bar nav ul li a::before {
  transition: all 0.4s ease;
  position: absolute;
  top: 28px;
  right: 50%;
  transition: translate(-50%);
  width: 0%;
  height: 3px;
  content: "";
  background-color: red;
}
.navigation-bar nav ul li::after {
  transition: all 0.4s ease;
  position: absolute;
  top: 28px;
  left: 50%;
  transition: translate(-50%);
  width: 0%;
  height: 3px;
  content: "";
  background-color: #be0026;
}
.navigation-bar nav ul li::before {
  transition: all 0.4s ease;
  position: absolute;
  top: 28px;
  right: 50%;
  transition: translate(-50%);
  width: 0%;
  height: 3px;
  content: "";
  background-color: #be0026;
}
.navigation-bar nav ul li:hover {
  transition: all 0.3s ease;
  color: linear-gradient(90deg, rgb(190, 0, 38) 0%, rgb(57, 131, 199) 100%);
}
.navigation-bar nav ul li:hover::after {
  transition: all 0.4s ease;
  width: 60%;
}
.navigation-bar nav ul li:hover::before {
  transition: all 0.4s ease;
  width: 60%;
}
.navigation-bar nav ul li .service-dropdown-menu,
.navigation-bar nav ul li .portfolio-dropdown-menu,
.navigation-bar nav ul li .digital-marketing-dropdown-menu {
  visibility: hidden;
  opacity: 0;
  width: 180px;
  position: absolute;
  top: 80px;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
}
.navigation-bar nav ul li .service-dropdown-menu li,
.navigation-bar nav ul li .portfolio-dropdown-menu li,
.navigation-bar nav ul li .digital-marketing-dropdown-menu li {
  transition: all 0.3s ease;
  padding-left: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 0px;
  border-left: 3px solid transparent;
}
.navigation-bar nav ul li .service-dropdown-menu li a,
.navigation-bar nav ul li .portfolio-dropdown-menu li a,
.navigation-bar nav ul li .digital-marketing-dropdown-menu li a {
  display: block;
  padding: 10px 0px;
}
.navigation-bar nav ul li .service-dropdown-menu li i,
.navigation-bar nav ul li .portfolio-dropdown-menu li i,
.navigation-bar nav ul li .digital-marketing-dropdown-menu li i {
  margin-left: 10px;
  color: #fff;
  transform: rotate(0deg);
  transition: all 0.2s ease;
}
.navigation-bar nav ul li .service-dropdown-menu li::before, .navigation-bar nav ul li .service-dropdown-menu li::after,
.navigation-bar nav ul li .portfolio-dropdown-menu li::before,
.navigation-bar nav ul li .portfolio-dropdown-menu li::after,
.navigation-bar nav ul li .digital-marketing-dropdown-menu li::before,
.navigation-bar nav ul li .digital-marketing-dropdown-menu li::after {
  display: none;
}
.navigation-bar nav ul li .service-dropdown-menu li:hover,
.navigation-bar nav ul li .portfolio-dropdown-menu li:hover,
.navigation-bar nav ul li .digital-marketing-dropdown-menu li:hover {
  transition: all 0.3s ease;
  padding-left: 20px;
  border-left: 3px solid #3983c7;
}
.navigation-bar nav ul li .service-dropdown-menu li:hover i,
.navigation-bar nav ul li .portfolio-dropdown-menu li:hover i,
.navigation-bar nav ul li .digital-marketing-dropdown-menu li:hover i {
  transform: rotate(180deg);
  transition: all 0.2s ease;
}
.navigation-bar nav ul li .service-dropdown-menu .digital-marketing-dropdown,
.navigation-bar nav ul li .portfolio-dropdown-menu .digital-marketing-dropdown,
.navigation-bar nav ul li .digital-marketing-dropdown-menu .digital-marketing-dropdown {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
  cursor: pointer;
  font-size: 14px;
  padding-left: 10px;
}
.navigation-bar nav ul li .service-dropdown-menu .digital-marketing-dropdown .digital-marketing-dropdown-menu,
.navigation-bar nav ul li .portfolio-dropdown-menu .digital-marketing-dropdown .digital-marketing-dropdown-menu,
.navigation-bar nav ul li .digital-marketing-dropdown-menu .digital-marketing-dropdown .digital-marketing-dropdown-menu {
  position: absolute;
  right: -180px;
  top: 30px;
  visibility: hidden;
  opacity: 0;
  width: 180px;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
}
.navigation-bar nav ul li .service-dropdown-menu .digital-marketing-dropdown:hover .digital-marketing-dropdown-menu,
.navigation-bar nav ul li .portfolio-dropdown-menu .digital-marketing-dropdown:hover .digital-marketing-dropdown-menu,
.navigation-bar nav ul li .digital-marketing-dropdown-menu .digital-marketing-dropdown:hover .digital-marketing-dropdown-menu {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease;
  top: -1px;
}
.navigation-bar nav ul .service-nav:hover .service-dropdown-menu {
  transition: all 0.3s ease;
  visibility: visible;
  opacity: 1;
  top: 30px;
}
.navigation-bar nav ul .portfolio-nav:hover .portfolio-dropdown-menu {
  transition: all 0.3s ease;
  visibility: visible;
  opacity: 1;
  top: 30px;
}

/* contact */
.contact {
  padding-top: 50px;
}
.contact h2 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}
.contact .footer-address,
.contact .footer-contact,
.contact .footer-email {
  display: flex;
  align-items: center;
  position: relative;
  height: 100px;
}
.contact .footer-address::after,
.contact .footer-contact::after,
.contact .footer-email::after {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 2px;
  height: 100px;
  content: "";
  background-color: #777;
}
.contact .footer-address .footer-icon,
.contact .footer-contact .footer-icon,
.contact .footer-email .footer-icon {
  margin-right: 20px;
  font-size: 30px;
  border-radius: 50%;
  padding: 5px 12px;
  background-color: #eee;
}
.contact .footer-address .fst,
.contact .footer-contact .fst,
.contact .footer-email .fst {
  padding: 5px 15px;
}
.contact .footer-address .footer-details h3,
.contact .footer-contact .footer-details h3,
.contact .footer-email .footer-details h3 {
  color: #111;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.contact .footer-address .footer-details p,
.contact .footer-contact .footer-details p,
.contact .footer-email .footer-details p {
  font-size: 16px;
  line-height: 30px;
  word-spacing: 2px;
  letter-spacing: 1px;
}

/* contact end*/
/* social-links */
.social-links {
  margin-bottom: 100px;
  margin-top: 100px;
}
.social-links .footer-logo {
  text-align: center;
}
.social-links .footer-logo img {
  width: 30%;
}
.social-links .links {
  text-align: center;
  margin: 30px 0px;
}
.social-links .links ul {
  display: flex;
  justify-content: center;
}
.social-links .links ul li {
  border: 1px solid #000;
  width: 30px;
  background-color: transparent;
  transform: rotate(45deg);
  margin-right: 30px;
}
.social-links .links ul li i {
  transition: all 0.3s ease;
  transform: rotate(-45deg);
  padding: 5px;
  font-size: 20px;
}
.social-links .links ul li:hover {
  transition: all 0.4s ease;
}
.social-links .links ul li:hover i {
  transform: rotate(315deg);
}
.social-links .copyright {
  text-align: center;
}
.social-links .copyright p {
  font-size: 20px;
  word-spacing: 5p;
}
.social-links .copyright p i {
  margin-right: 10px;
}
.social-links .copyright span {
  word-spacing: 5px;
  letter-spacing: 3px;
}

/* social-links end */
@media only screen and (max-width: 767px) {
  .navigation-bar .logo {
    width: 100%;
  }
  .navigation-bar .logo img {
    width: 200px;
  }
  .navigation-bar nav {
    margin-top: 20px;
  }

  .social-links .footer-logo img {
    width: 40%;
  }
}
@media only screen and (max-width: 500px) {
  .navigation-bar {
    background-color: #fff;
  }
  .navigation-bar .logo .fa-bars {
    color: #000;
    display: block;
  }
  .navigation-bar nav {
    display: none;
  }
  .navigation-bar nav ul {
    flex-direction: column;
  }
  .navigation-bar nav ul li {
    color: #000;
    padding-bottom: 10px;
  }
  .navigation-bar nav ul li:hover::after {
    width: 0%;
  }
  .navigation-bar nav ul li:hover::before {
    width: 0%;
  }
  .navigation-bar nav ul li a {
    color: #000;
    padding-bottom: 10px;
  }
  .navigation-bar nav ul li .service-dropdown-menu,
.navigation-bar nav ul li .portfolio-dropdown-menu {
    position: static;
    height: 0px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .navigation-bar nav ul li .service-dropdown-menu li i,
.navigation-bar nav ul li .portfolio-dropdown-menu li i {
    color: #000;
  }
  .navigation-bar nav ul li .digital-marketing-dropdown:hover .digital-marketing-dropdown-menu {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .navigation-bar nav ul li .digital-marketing-dropdown .digital-marketing-dropdown-menu {
    background-color: #fff;
  }
  .navigation-bar nav ul li .digital-marketing-dropdown .digital-marketing-dropdown-menu li a {
    color: #000;
  }
  .navigation-bar nav ul .service-nav:hover .service-dropdown-menu {
    transition: all 0.4s ease;
    height: 100%;
  }
  .navigation-bar nav ul .portfolio-nav:hover .portfolio-dropdown-menu {
    transition: all 0.4s ease;
    height: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .social-links .footer-logo img {
    width: 50%;
  }
}
@media only screen and (max-width: 567px) {
  .banner {
    padding-left: 50px;
  }
}/*# sourceMappingURL=header-footer.css.map */