/* variables */
/* mixins */
/* Dosis fonts */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap");
.banner {
  padding: 100px;
  padding-top: 150px;
  background-color: #111;
  width: 100%;
}
.banner .about-heading h1 {
  font-size: 30px;
  letter-spacing: 5px;
  word-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
}
.banner .about-heading p {
  font-size: 16px;
  line-height: 30px;
  word-spacing: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 30px;
}

html {
  scroll-behavior: smooth;
}

.smo-content {
  margin-top: 100px;
}
.smo-content h2 {
  margin-top: 50px;
  letter-spacing: 5px;
  word-spacing: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 25px;
}
.smo-content p {
  font-size: 16px;
  line-height: 30px;
  word-spacing: 2px;
  letter-spacing: 1px;
  text-align: justify;
  font-style: italic;
}

.smo-packages {
  padding: 30px 0px;
  margin-top: 100px;
  background-color: #eee;
  width: 100%;
  overflow: scroll;
}
.smo-packages .packages-wrapper {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  min-width: 720px;
}
.smo-packages h2 {
  margin-bottom: 10px;
  letter-spacing: 5px;
  word-spacing: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}
.smo-packages .main-table {
  background-color: #3983c7;
  padding: 5px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.smo-packages .main-table th {
  padding: 10px 0px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  width: 25%;
  border-bottom: 1px solid #fff;
}
.smo-packages .main-table th i {
  color: #fff;
}
.smo-packages .main-table th:first-child {
  text-align: left;
  padding-left: 15px;
}
.smo-packages .main-table td {
  padding: 10px 0px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  width: 25%;
  border-bottom: 1px solid #fff;
}
.smo-packages .main-table td a {
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 50px;
  background-color: rgb(191, 0, 38);
  cursor: pointer;
}
.smo-packages .main-table td:first-child {
  text-align: left;
  padding-left: 15px;
}
.smo-packages .on-page-activities h3,
.smo-packages .content-writing h3,
.smo-packages .off-page h3,
.smo-packages .monthly-report h3 {
  position: relative;
  padding: 5px 0px;
  letter-spacing: 5px;
  word-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  background-color: #111;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}
.smo-packages .on-page-activities h3 i,
.smo-packages .content-writing h3 i,
.smo-packages .off-page h3 i,
.smo-packages .monthly-report h3 i {
  color: #fff;
}
.smo-packages .on-page-activities ul,
.smo-packages .content-writing ul,
.smo-packages .off-page ul,
.smo-packages .monthly-report ul {
  display: none;
}
.smo-packages .on-page-activities ul .outer-list:nth-child(2n),
.smo-packages .content-writing ul .outer-list:nth-child(2n),
.smo-packages .off-page ul .outer-list:nth-child(2n),
.smo-packages .monthly-report ul .outer-list:nth-child(2n) {
  background-color: rgb(230, 227, 227);
}
.smo-packages .on-page-activities ul .outer-list ul,
.smo-packages .content-writing ul .outer-list ul,
.smo-packages .off-page ul .outer-list ul,
.smo-packages .monthly-report ul .outer-list ul {
  display: flex;
}
.smo-packages .on-page-activities ul .outer-list ul li,
.smo-packages .content-writing ul .outer-list ul li,
.smo-packages .off-page ul .outer-list ul li,
.smo-packages .monthly-report ul .outer-list ul li {
  text-transform: capitalize;
  width: 25%;
  text-align: center;
  /* border: 1px solid rgba(191, 0, 38,0.1); */
  border-top: 1px solid rgba(191, 0, 38, 0.1);
  border-bottom: 1px solid rgba(191, 0, 38, 0.1);
  /*  color: $secondary-color; */
  padding: 5px 0px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.smo-packages .on-page-activities ul .outer-list ul li:first-child,
.smo-packages .content-writing ul .outer-list ul li:first-child,
.smo-packages .off-page ul .outer-list ul li:first-child,
.smo-packages .monthly-report ul .outer-list ul li:first-child {
  text-align: left;
  padding-left: 15px;
}
.smo-packages .on-page-activities ul .outer-list ul li i,
.smo-packages .content-writing ul .outer-list ul li i,
.smo-packages .off-page ul .outer-list ul li i,
.smo-packages .monthly-report ul .outer-list ul li i {
  font-size: 20px;
}
.smo-packages .on-page-activities ul .outer-list ul li .fa-circle-check,
.smo-packages .content-writing ul .outer-list ul li .fa-circle-check,
.smo-packages .off-page ul .outer-list ul li .fa-circle-check,
.smo-packages .monthly-report ul .outer-list ul li .fa-circle-check {
  color: #3983c7;
}
.smo-packages .on-page-activities ul .outer-list ul li .fa-circle-xmark,
.smo-packages .content-writing ul .outer-list ul li .fa-circle-xmark,
.smo-packages .off-page ul .outer-list ul li .fa-circle-xmark,
.smo-packages .monthly-report ul .outer-list ul li .fa-circle-xmark {
  color: rgb(191, 0, 38);
}
.smo-packages .on-page-activities ul .outer-list ul li:first-child,
.smo-packages .content-writing ul .outer-list ul li:first-child,
.smo-packages .off-page ul .outer-list ul li:first-child,
.smo-packages .monthly-report ul .outer-list ul li:first-child {
  justify-content: start;
}
.smo-packages .on-page-activities ul .click-list,
.smo-packages .content-writing ul .click-list,
.smo-packages .off-page ul .click-list,
.smo-packages .monthly-report ul .click-list {
  margin: 10px 0px;
}
.smo-packages .on-page-activities ul .click-list ul li,
.smo-packages .content-writing ul .click-list ul li,
.smo-packages .off-page ul .click-list ul li,
.smo-packages .monthly-report ul .click-list ul li {
  text-transform: capitalize;
  border: none;
}
.smo-packages .on-page-activities ul .click-list ul li a,
.smo-packages .content-writing ul .click-list ul li a,
.smo-packages .off-page ul .click-list ul li a,
.smo-packages .monthly-report ul .click-list ul li a {
  font-weight: bold;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 50px;
  background-color: rgb(191, 0, 38);
  cursor: pointer;
}
.smo-packages .on-page-activities ul .click-list ul li:first-child a,
.smo-packages .content-writing ul .click-list ul li:first-child a,
.smo-packages .off-page ul .click-list ul li:first-child a,
.smo-packages .monthly-report ul .click-list ul li:first-child a {
  padding: 0px;
  background-color: #eee;
  border: none;
  color: #777;
}
.smo-packages .on-page-activities ul {
  display: block;
}

.contact-us {
  margin-top: 100px;
  padding: 50px 0px;
  background-color: #111;
}
.contact-us h2 {
  margin-bottom: 10px;
  letter-spacing: 5px;
  word-spacing: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  color: #fff;
}
.contact-us form input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 15px;
  border: 1px solid #eee;
}
.contact-us form input::-moz-placeholder {
  color: #fff;
  font-weight: bold;
}
.contact-us form input:-ms-input-placeholder {
  color: #fff;
  font-weight: bold;
}
.contact-us form input::placeholder {
  color: #fff;
  font-weight: bold;
}
.contact-us form textarea {
  width: 100%;
  background-color: transparent;
  padding: 10px 15px;
  border: 1px solid #eee;
  resize: none;
}
.contact-us form textarea::-moz-placeholder {
  color: #fff;
  font-weight: bold;
}
.contact-us form textarea:-ms-input-placeholder {
  color: #fff;
  font-weight: bold;
}
.contact-us form textarea::placeholder {
  color: #fff;
  font-weight: bold;
}
.contact-us form button {
  padding: 3px 50px;
  text-transform: uppercase;
  background-color: #3983c7;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.contact-us .error {
  visibility: hidden;
  opacity: 0;
  color: rgb(191, 0, 38);
  padding-left: 15px;
  font-weight: bold;
  color: red;
}
.contact-us .submit-error {
  margin-top: 10px;
}

@media only screen and (max-width: 567px) {
  .banner {
    padding-left: 50px;
  }
}/*# sourceMappingURL=smo.css.map */