/* variables */
$primary-color: #be0026;
$secondary-color: #3983c7;
$text-color: #777;

/* mixins */
@mixin h1-font {
    font-size: 30px;
}
@mixin h2-font {
    font-size: 25px;
}
@mixin h3-font {
    font-size: 20px;
}

@mixin section-space {
    margin-top: 100px;
}

@mixin p {
    font-size: 16px;
    line-height: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

/* Dosis fonts */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap");

.banner {
    padding: 100px;
    padding-top: 150px;
    background-color: #111;
    width: 100%;
    .about-heading {
        h1 {
            @include h1-font;
            letter-spacing: 5px;
            word-spacing: 5px;
            text-transform: uppercase;
            color: #fff;
        }
        p {
            @include p;
            text-transform: uppercase;
            color: #fff;
            margin-top: 30px;
        }
    }
}

.designing-content {
    @include section-space();
    h2 {
        margin-top: 50px;
        letter-spacing: 5px;
        word-spacing: 5px;
        margin-bottom: 20px;
        text-transform: uppercase;
        @include h2-font;
    }
    p {
        @include p;
        text-align: justify;
        font-style: italic;
    }
}

.services {
    @include section-space();
    h2 {
        margin-bottom: 50px;
        text-transform: uppercase;
        @include h2-font;
        font-weight: bold;
        letter-spacing: 5px;
        word-spacing: 3px;
    }
    ul {
        li {
            text-transform: capitalize;
            @include p;
            margin-bottom: 8px;
            word-spacing: 3px;
            i {
                margin-right: 10px;
            }
        }
    }
}

/* digital-service */
.digital-service {
    @include section-space;
    background-image: url(../images/multimedia-img2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    .digital-service-content {
        margin: 100px 0px;
        h2,
        p,
        a {
            position: relative;
            z-index: 99;
            color: #fff;
        }
        h2,
        a {
            text-transform: uppercase;
        }
        h2 {
            @include h2-font;
            margin-bottom: 30px;
        }
        p {
            @include p;
            font-size: 18px;
            margin-bottom: 30px;
        }
        a {
            font-style: italic;
            border-radius: 3px;
            background-color: #fff;
            border: 1px solid #fff;
            padding: 10px 30px;
            color: #000;
            word-spacing: 2px;
            letter-spacing: 3px;
            font-size: 14px;
            transition: all 0.3s ease-in-out;
            &:hover {
                transition: all 0.3s ease-in-out;
                background-color: transparent;
                border: 1px solid #fff;
                color: #fff;
            }
        }
    }

    .digital-service-img {
        position: relative;
        z-index: 99;
        img {
            margin-top: -50px;
            width: 100%;
        }
    }
    &::after {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 1;
    }
}
/* digital-service end */

.our-work {
    @include section-space;
    h3 {
        text-align: center;
        margin-bottom: 50px;
        text-transform: uppercase;
        @include h3-font;
        letter-spacing: 5px;
        word-spacing: 3px;
    }
    .work-card {
        position: relative;
        margin-bottom: 150px;
        transform: all .3s ease;
        img {
            width: 100%;
        }
        .text {
            pointer-events: none;
            background-color: rgba(0,0,0,0.5);
            transition: all .3s ease;
            position: absolute;
            bottom: -80px;
            width: 100%;
            left: 50%;
            transform: translate(-50%);
            text-align: center;
            p {
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                @include p;
            }
            span {
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                @include p;
                font-size: 13px;
            }
        }
        &:hover{
            transition: all .3s ease;
            .text{
                bottom: 50px;
                p,span{
                    color: #fff;
                }
            }
        }
    }
    .see-more{
        margin-bottom: 50px;
        text-align: center;
        a {
            font-style: italic;
            border-radius: 3px;
            background-color: #111;
            border: 1px solid #fff;
            padding: 10px 30px;
            color: #fff;
            word-spacing: 2px;
            letter-spacing: 3px;
            text-transform: uppercase;
            font-size: 14px;
            transition: all 0.3s ease-in-out;
            &:hover {
                transition: all 0.3s ease-in-out;
                background-color: transparent;
                border: 1px solid #000;
                color: #000;
            }
        }
    }
   
}
@media only screen and(max-width : 567px) {
    .banner{
        padding-left: 50px;
    }
}